.toolbar-transparent {
  --min-height: 0;
}

.list-header-custom {
  font-size: 17px;

  &.no-padding {
    padding-left: 0;
  }
}

.text-sm {
  font-size: 13px;
}

.text-muted {
  color: var(--ion-color-medium);
}
