/**
  Generate your color at the official Ionic Color Generator
  https://ionicframework.com/docs/theming/color-generator
*/

:root {
  /** primary **/
  --ion-color-primary: #ec5252;
  --ion-color-primary-rgb: 236,82,82;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #d04848;
  --ion-color-primary-tint: #ee6363;

  /** secondary **/
  --ion-color-secondary: #35748e;
  --ion-color-secondary-rgb: 53,116,142;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #2f667d;
  --ion-color-secondary-tint: #498299;

  /** white **/
  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255,255,255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0,0,0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;

  /** GENERAL **/
  --ion-text-color: #333333;
  --ion-background-color: #ffffff;
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}
